<nav *ngIf="isLoggedIn" id="topbar">

  <ul class="left title-area">

    <li class="has-dropdown"><a (click)="toggleDropDown()" class="dd-btn"><img src="/assets/img/logo.png"></a>
      <ul (click)="toggleDropDown()" *ngIf="isDropDownOpen" class="dropdown cooelink open">
        <li>
          <a href="../#/teeups/">
            <div class="bats-logo"></div>
            <span>My TeeUps</span>
          </a>
        </li>
        <li>
          <a href="/#/createteeup/">
            <div class="bats-add"></div>
            <span>Create TeeUps</span>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="bats-user"></div>
            <span>My Profile</span>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="bats-contacts"></div>
            <span>Contacts</span>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="bats-calendar"></div>
            <span>Calendar</span>
          </a>
        </li>
        <li>
          <a href="/settings/">
            <div class="bats-settings"></div>
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="bats-send-msg"></div>
            <span>Send Feedback</span>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="bats-tour"></div>
            <span>Tour</span>
          </a>
        </li>
      </ul>
    </li>

  </ul>

  <ul class="left">

  </ul>

  <ul class="right">
    <li class="has-dropdown">
      <a  >
        <img class="rounded" src="/assets/img/avatar.png" title="dougzytko@gmail.com" style="width:30px; height: 30px;">
        <span class="usernametxt"><!--<span id="myjidhere"></span>--> doug</span>
      </a>
      <ul (click)="toggleDropDown()"*ngIf="isDropDownOpen"  class="dropdown cooelink">
        <li><a href="/invite/email/">Invite Friends</a></li>
        <li><a href="/settings/">Settings</a></li>
        <li class="dividerx"></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
    </li>
  </ul>

</nav>
<div *ngIf="!isLoggedIn" id='top-row' class="row">
  <div class="control-bar">
    <div (click)="toggleDropDown()"  id="open-close-btn" [class.bats-opened]="isDropDownOpen" [class.bats-closed]="!isDropDownOpen"class="control-btn"></div>
    <div class="control-menu"  *ngIf="isDropDownOpen">
      <a [routerLink]="['./Home']" class="control-btn home-btn bats-logo" (mouseenter)="setNavTitle('Home')" data-txt="Home"></a>
      <a  class="control-btn about-btn bats-tour" (mouseenter)="setNavTitle('About')" data-txt="About"></a>
      <a (click)="toggleContactForm()" (mouseenter)="setNavTitle('Contact')" class="control-btn contact-btn bats-invited" data-txt="Contact" ></a>
      <div class="control-text hide-for-small">{{navTitle}}</div>
    </div>
  </div>
  <div *ngIf="isContactFormOpen" id="contact-form" style="display:block;" class="dropdown-box">
    <strong>Let us know what's on your mind:</strong>
    <input type="text" placeholder="Your name">
    <input type="text" placeholder="Your email">
    <textarea placeholder="Your thoughts"></textarea>
    <input type="submit" class="btn-submit" value="Submit">
  </div>
  <div *ngIf="isLoginFormOpen" id="login-form" class="dropdown-box">
    <strong>Username:</strong>
    <input type="text">
    <strong>Password:</strong>
    <input type="text">
    <input type="submit" class="btn-submit" value="Submit">
  </div>


  <div class="signin-bar">
    <a [routerLink]="['./Login']" class="signin-button">Beta Sign-In</a>
  </div>
</div>
