
<div class="table_holder">
  <div class="main_table">
    <div class="main_row">

      <div id="view_fake" class="block_holder" >
        <div class="block">
        </div>
      </div>


      <div id="view_inbox" class="block_holder panel1">
        <div class="block">
          <div class="header">
            <span class="headerTitle">
                My TeeUps:
            </span>
            <a id="create_button"  class="header_button right" href="./#/create" title="Create Teeup"><i class="bats-add"></i></a>
          </div>

          <div class="block_content">
            <div class="sub_head">
              <div>Currently Coordinating</div> <div class="amount">{{teeups.length}}</div>
            </div>

            <div id="inbox_sections_container">
            <progress-circle *ngIf="!(teeups.length)"></progress-circle>
              <div *ngFor="let teeup of teeups" class="inbox_section" teeupid="25">
                <a [routerLink]="['/Teeup', {id: teeup.id}]">
                  <div class="top clearfix">
                    <div class="avatar left">
                      <img style="height: 65px;" src="/getavatar/dougzytko@gmail.com/" title="doug">
                    </div>
                    <div class="info">
                      <div class="title"><span class="bats-planning status-planning"></span>{{teeup.name}}</div>
                      <div class="my_status"><span class="bats-going status-going"></span>{{teeup.decision}}</div>
                      <div class="sub_thing" style="display:none;">
                        <div class="bats-going"> {{teeup.going}}</div>
                        <div class="bats-invited"> 2</div>
                        <div class="bats-updated"> 1d</div>
                      </div>
                    </div>
                  </div>
                  <div class="fields clearfix">
                    <div class="field">
                      <img src="/assets/img/when_undecided.png">
                      <span>{{teeup.time}}</span>
                    </div>
                    <div class="field">
                      <img src="/assets/img/where_undecided.png">
                      <span>{{teeup.location}}</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="visiblelogs" class="block_holde hide">
        <div class="block pickerbox">
          <div class="section">
            <div class="sectionTitle clearfix">
              <div class="text">Timer Logs</div>
            </div>
            <div id="silly_logs" style="padding:10px;">
              <div>jabber attach took:  3252 ms</div><div>bulk update took:  1147 ms</div><div>rendering inbox took:  10 ms</div></div>
          </div>
        </div>
      </div>

    </div> <!-- /main row -->
  </div>
</div>
