html, body{
  height: 100%;
  background: #f9f9f9;
}
.appInner{
  width: 337px;
  margin: auto;
  background: gray;
  height: 540px;
}

#topMenu{
  height: 50px;
  background: #1D1D1D;
  width: 100%;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  background: #1D1D1D;
}

#topMenu li, #topMenu a{
  display: inline-block;
  color: white;
  width: 60px;
  margin: 0;
  padding: 0px;
  vertical-align: bottom;
  font-size: 1.6rem;
  text-align: center;
  height: 24px;
  padding-top: 0px;
  margin-top: 13px;
}

#topMenu li:first-of-type{
  border-right: 1px solid #404040;
}

#topMenu li:last-of-type{
  border-left: 1px solid #404040;
}

.body{
  /*padding: 9px;*/
  background: #313334;
}

.menu{
  list-style: none;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 0;
  padding: 9;
}

.menuItem p{
  font-family: arial;
  color: white;
  padding: 0px;
  /* height: 30px; */
  margin: 0;
  text-align: center;
  padding-top: 14px;
  font-size: 1.1rem;
}


.menuItem{
  background: rgb(29, 29, 29);
  margin: 6px 0;
  height: 50px;
  display: block;
}

.logo{
  color: white;
  font-family: arial;
  font-size: 2.3rem;
  /* position: absolute; */
  height: 46px;
  text-align: center;
  margin: auto;
  display: block;
  padding-top: 22px;
}

.menu i.fa{
  color: white;
  position: absolute;
  margin-top: 12px;
  margin-left: 15px;
  font-size: 1.7rem;
}

.menuItem.fa-info-circle{
  color: #47BEDB!important;
}


#topMenu .menuItem.fa-info-circle span{
  position: absolute;
  font-size: .7rem;
  background: red;
  padding: 1px;
  /* display: block; */
  width: 12px;
  height: 12px;
  font-weight: 900;
  margin-top: 11px;
  font-family: arial;
  margin-left: -4px;
}

#topMenu .menuItem.fa-bullseye:after, #topMenu .menuItem:last-of-type:after {
  content: '';
  width: 0;
  /* position: absolute; */
  height: 4px;
  border-left: 4px solid transparent;
  margin-top: 10px;
  border-right: 4px solid transparent;
  border-top: 7px solid #747474;
  /* top: 6px; */
  display: inherit;
  margin-left: 7px;
}

#bar1{
  background: #707070;
  margin: 0;
  padding: 0;
  /* margin-top: -28px; */
  width: 337px;
  /* position: absolute; */
  /* margin-top: -8px; */
  /* margin-left: -9px; */
  /* font-weight: 100; */
  height: 40px;
}

#bar1 h3{
  color: white;
  font-weight: 100;
  font-family: arial;
  display: inline-block;
  margin-top: 10px;
  margin-left: 15px;
}

#bar1 i{
  float: right;
  margin-right: 15px;
  color: white;
  margin-top: 10px;
  font-style: normal;
  font-size: 1.2rem;
  margin-left: 9px;
}

#bar2{
  margin-top: 0px;
}

home, teeups{
  display: block;
}

.teeupCategoryHeader{
  height: 30px;
  background: #313334;
}

.teeupCategoryHeader p{
  color: #C4C4C4;
  margin: 0;
  font-family: arial;
  font-weight: 100;
  margin-top: 9px;
  font-size: .85rem;
  margin-left: 7px;
  display: inline-block;
}

.teeupCategoryHeader i{
  float: right;
  margin-right: 10px;
  color: white;
  margin-top: 9px;
  font-size: .8rem;
}

.teeups{
  background: #707070;
  padding: 0 7px;
  height: 413px;
  overflow-y: scroll;
}

.teeups .teeup{
  height: 85px;
  background: #313334;
  border-top: 1px solid #7A7A7A;
}

.teeups .teeup .teeupTop{
  height: 60px;
  background: #313334;
}

.teeups .teeup .teeupTop .avatar{
  display: block;
  height: 60px;
  background: white;
  width: 58px;
  display: inline-block;
  vertical-align: top;
}

.teeups .teeup .teeupTop .teeupContent{
  display: inline-block;
  width: 247px;
  margin: 0;
  margin-left: -3px;
  padding: 0;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow{
  height: 16px;
  background: #313334;
  font-size: .94rem;
  font-family: arial;
  /* color: gray; */
  margin: 3px 0;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow p,
.teeups .teeup .teeupTop .teeupContent .teeupRow a{
  color: #C8C8C8;
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow p:hover,
.teeups .teeup .teeupTop .teeupContent .teeupRow a:hover{
  color: gray;
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow#three p{
  color: #A1A1A1;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow#two p{
  font-size: .8rem;
  margin-top: 3px;
  margin-left: 3px;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow#two i{
  font-size: 1.1rem;
  vertical-align: top;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow i{
  margin-left: 5px;
  font-size: .9rem;
  vertical-align: top;
  padding-top: 3px;
  color: #E5A838;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow#three i:first-of-type{
  margin-left: 0px!important;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow#three i{
  color: #5D5D5D;
  margin-left: 5px;
  font-size: .7rem;
}

.teeups .teeup .teeupTop .teeupContent .teeupRow#three span{
  width: 36px;
  display: inline-block;
  margin: 1px 5px;
  font-size: .9rem;
}



.teeups .teeup .bottomRow{
  height: 25px;
  background: black;
}

.teeups .teeup .bottomRow .half{
  display: inline-block;
  width: 148.5px;
  background: black;
  height: 20px;
  color: white;
  font-size: .8rem;
  padding-top: 5px;
}

.teeups .teeup .bottomRow .half p{
  display: inline-block;
  margin: 0;
  margin-left: 2px;
  font-family: arial;
  font-size: .72rem;
  color: #C8C8C8;
  margin-top: 2px;
  vertical-align: top;
}

.teeups .teeup .bottomRow .half i{
  margin-left: 5px;
  color: #E5A838;
  font-size: .7rem;
}

.verticalLine{
  display: inline-block;
  height: 15px;
  border-right: 1px solid white;
  vertical-align: top;
  margin-top: 6px;
}

teeups #bar1{
  background: #313334;
  border-bottom: 1px solid #2B2B2B;
}

teeups #bar1 h3, teeups #bar1 i{
  color: #B3B3B3;
}

.teeupHeader{
  padding: 0px 7px;
  background: black;
  width: 300px;
  margin: auto;
  font-family: arial;
  text-align: center;
  color: white;
  height: 56px;
}

.teeupHeader h2{
  font-size: 1rem;
  /* color: white; */
  margin: 0;
  padding-top: 5px;
}

.col-md-6{
  width: 145px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 12px;
  font-size: .9rem;
}

.teeupHeader .fa-power-off{
  margin-left: 0px;
  font-size: .9rem;
  vertical-align: top;
  padding-top: 1px;
  color: #E5A838;
}

.teeupHeader .fa-arrow-right{
  margin-left: 0px;
  font-size: .9rem;
  vertical-align: top;
  padding-top: 1px;
  color: #58B72E;
}

.teeupHeader .verticalLine{
  display: inline-block;
  height: 19px;
  border-right: 1px solid #9A9A9A;
  vertical-align: bottom;
  margin-top: 4px;
}

.peopleBox{
  padding: 0px 6px;
  background: white;
  width: 300px;
  margin: auto;
  font-family: arial;
  text-align: center;
  color: #090909;
  height: 101px;
  margin-top: 7px;
}

.headerStrip{
  width: 304px;
  background: black;
  color: white;
  text-align: left;
  margin-left: -7;
  font-size: .75rem;
  padding: 2px 5px;
}

.indicator1, .indicator2{
  float: right;
  font-size: .8rem;
}

.indicator1{
  margin-right: 7px;
}

.peopleBox .indicator1{
  color: #58B72E;
}
.avatarStrip{
  height: 50px;
  margin-top: 5;
  overflow-y: hidden;
  overflow-x: hidden;
}

.avatarStrip img{
  height: 45px;
  width: 45px;
  background: black;
  margin: 2.5px;
  margin-top: -.3px;

}

#weirdLeftThing{
  background: #313334;
  color: #58B72E;
  float: left;
  font-size: .7rem;
  font-weight: 600;
  padding: 2px 4px;
}

#weirdLeftThing .bigger{
  font-size: 1rem;
}

.progressBar{
  background: #313334;
  width: 200px;
  /* display: block; */
  margin-top: 8px;
  /* vertical-align: bottom; */
  padding: 2px;
  font-size: .7rem;
  font-weight: 600;
  color: white;
  padding-top: 4px;
  height: 15px;
  margin-left: 11px;
  margin-top: 0px;
  position: relative;
  display: inline-block;
  z-index: 0;
}

.progress{
  /* background: green; */
  /* width: 100px; */
  /* display: block; */
  width: 180px;
  background: #96BD38;
  display: block;
  position: absolute;
  height: 21px;
  margin-top: -4px;
  margin-left: -2px;
  z-index: 1;
}

.progressRemaining{
  z-index: 9;
  position: relative;
}

.conversationBox, .gamePlanBox{
  padding: 0px 6px;
  background: white;
  width: 300px;
  margin: auto;
  font-family: arial;
  text-align: center;
  color: #090909;
  height: 150px;
  margin-top: 7px;
  overflow: hidden;
}

.conversationBox .indicator1,
.gamePlanBox .indicator1 {
  color: #47BEDB;
}

.modifyRows{
  background: black;
  color: white;
  width: 311px;
  margin: auto;
  height: 27px;
  font-family: arial;
  text-align: center;
  padding-top: 12px;
}

teeups{
  padding-bottom: 16px;
}

.conversation{
  background: white;
  color: black;
  padding: 5;
}

.timestamp{
  text-align: center;
  color: gainsboro;
  padding: 4px;
  font-size: .6rem;
}

.message .messageRow img{
  display: inline-block;
  background: black;
  width: 37px;
  height: 37px;
  /*margin-left: 5px;   */
}

.message .messageRow .messageBody{
  display: inline-block;
  vertical-align: top;
  height: 32px;
  padding-top: 3px;
  width: 236px;
  margin-left: 4px;
  background: #D8F8FF;
  padding-left: 10;
}

.message .messageRow .messageBody .messageUser{
  color: #48AAC2;
  font-weight: 600;
}

.message .messageRow .messageBody .messageWhere{
  font-weight: 600;
  color: orange;
}

.messageText{
  display: inline;
}

.fromUser .messageBodyText{
  font-weight: 600;
  position: relative;
  display: block;
  margin-top: 0px;
  font-size: .8rem;
}

.update .messageRow{
  background: gainsboro;
  padding: 5 5px;
  width: auto;
  display: inline-block;
}

.update .messageRow .fa-arrow-right{
  font-size: 1.1rem;
  color: #96BD38;
}

.messageUser{
  color: #48AAC2;
  font-weight: 600;
}

.gamePlanBox{
  height: 115;
}

.gamePlans{
  height: 98px;
  margin-left: -10;
  width: 319px;
}

.gamePlan{
  height: 49px;
  border-bottom: 1px solid gainsboro;
}

.gamePlan:last-of-type{
  border-bottom: none;
}

.gamePlanRow{
  display: inline-block;
  border-right: 2px solid gainsboro;
  width: 45px;
  height: 88%;
  font-size: 2rem;
  vertical-align: top;
  padding-top: 7px;
  color: orange;
}

.gamePlanBody{
  display: inline-block;
  height: 49px;
  width: 179px;
  padding-top: 13px;
}

.gamePlanBody p{
  margin: 0;
  font-weight: 600;
  font-size: .75rem;
  text-align: left;
  margin-left: 10px;
}

.gamePlanLikes{
  display: inline-block;
  width: 69px;
  vertical-align: top;
  background: gainsboro;
  margin-top: 6px;
  margin-right: 4px;
}


.likesColumn{
  width: 26px;
  vertical-align: top;
  padding-top: 5px;
  display: inline-block;
}

.likesColumn .fa{
  font-size: 1.4rem;
}

.likesColumn div{
  font-size: .75rem;
}

.likesColumn .fa-thumbs-o-up{
  color: #35BEDB;
}

.likesColumn .fa-thumbs-o-down{
  color: gray;
}
button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer{
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

