<!DOCTYPE html>
<html lang="">
<head>

  <title>coo-e</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=380, maximum-scale=1.0">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- use http://www.favicon-generator.org/ to replace files in public/icon-->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="http://coo-e.com/static/img/favicon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="http://coo-e.com/static/img/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="http://coo-e.com/static/img/favicon.png">
  <link rel="manifest" href="/assets/manifest.json">
  <link rel="stylesheet" href="/assets/css/normalize.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/assets/js/modernizr.js"></script>
  <meta name="theme-color" content="#00bcd4">
  <!-- end favicon -->

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">


</head>

<body>

  <app>
    Loading...
  </app>

  <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71073175-1', 'auto');
    ga('send', 'pageview');
  </script>

  <% if (webpackConfig.metadata.ENV === 'development') { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>



</body>
<script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<!-- <script>window.jQuery || document.write('<script src="/media/js/libs/jquery-1.7.2.min.js"><\/script>')</script> -->
<script type="text/javascript">
  $(function(){
    $("#open-close-btn").click(function(){
      $('.control-menu').toggle();
      $("#contact-form").hide();
      $(this).toggleClass("bats-closed bats-opened");
    });

    $(".control-menu .control-btn").mouseover(function(){
      $(".control-text").text($(this).data("txt"));
    });

    $(".contact-btn").click(function(){
      $("#contact-form").toggle();
    });
  });
</script>

<!-- Setting the right viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</html>
